/*
back: f1f3f8
texts : 393b44
saved: 8d93ab
d6e0f0:shadows? and everything else
*/


*{
    background-color: #f1f3f8;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    font-size: 4em;
    margin-top: .5em;
    text-align: center;
    font-style: normal;
}

header{
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: auto;
    flex-direction: row;
    display: flex;
}
.header-text{
    margin: 1% 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.input-bar{
    background-color: transparent;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.acc-bar{
    width: 400px;
    height: 3em;
    box-shadow: 0px 0px 500px #393b44;
    background-color: white;

}

.sub-btn{
    cursor: pointer;
    border-radius: 0;
    height: 3.5em;
    border-color: #8d93ab;
}

.warning-text{
    text-align: center;
    color: red;
    height: 26px;
    font-size: 20px;
}

.list-of-things{
    justify-content: center;
    margin: auto;
    text-align: center;

}



.list-item{
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 0;
    text-align: center;
    margin: 0;
    background-color: transparent;
}

.list-item-text{
    font-size: 22px;
    background-color: transparent;
    width: 400px;
    text-align: left;
}

.list-item-button{
    opacity: 0%;
    height: 50px;
}

.list-item-button:hover{
    opacity: 60%;
    background-color: #d6e0f0;
    display: block;
}

.back-btn{
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-radius: 0;
    height: 3.5em;
    border-color: #8d93ab;

}

.default-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 1em;
    line-height: 2em;
}

.default-text-leg{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: 500;
    margin: 1em;
    line-height: 2em;
}

.leg-div{
    
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
}

.delBar{
    background-color: red;
}