/*
back: f1f3f8
texts : 393b44
saved: 8d93ab
d6e0f0:shadows? and everything else
*/


:root{
    --main-bg-color:#f1f3f8;
    --main-text-color:#393b44;
    --main-extra-color:#8d93ab;
    --main-second-color: #d6e0f0;
}

*{
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    color: var(--main-second-color);
    font-size: 4em;
    margin-top: .5em;
    text-align: center;
    font-style: normal;
}

header{
    color: var(--main-second-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: auto;
    flex-direction: row;
    display: flex;
}
.header-text{
    color: var(--main-second-color);
    margin: 1% 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.input-bar{
    background-color: transparent;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.acc-bar{
    width: 400px;
    height: 3em;
    color: var(--main-second-color);
    box-shadow: 0px 0px 500px var(--main-extra-color);
    background-color: var(--main-text-color);
    border-color: var(--main-second-color);
    border-radius: 5em;
    text-indent: 1em;
    outline: none;
    border: ridge;
}



.sub-btn{
    cursor: pointer;
    color: var(--main-second-color);
    border-radius: 0;
    border: ridge;
    height: 3.5em;
    border-color: var(--main-text-color);
}

.warning-text{
    text-align: center;
    color: red;
    height: 26px;
    font-size: 20px;
}

.list-of-things{
    justify-content: center;
    margin: auto;
    color: var(--main-second-color);
    text-align: center;

}



.list-item{
    color: var(--main-second-color);
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 0;
    text-align: center;
    margin: 0;
    background-color: transparent;
    vertical-align: center;
}

.list-item-text{
    color: var(--main-second-color);
    font-size: 22px;
    background-color: transparent;
    width: 363px;
    text-align: left;
}

.list-item-button{
    opacity: 10%;
    height: 50px;
}

.list-item-button:hover{
    opacity: 60%;
    background-color: var(--main-second-color);
    display: block;
}

.back-btn{
    justify-content: center;
    align-content: center;
    cursor: pointer;
    color: var(--main-second-color);
    border-radius: 0;
    height: 3.5em;
    border-color: var(--main-extra-color);

}

.default-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    color: var(--main-second-color);
    margin: 1em;
    line-height: 2em;
}

.default-text-leg{
    color: var(--main-second-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: 500;
    margin: 1em;
    line-height: 2em;
}

.leg-div{
    
    color: var(--main-second-color);
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
}

.delBar{
    background-color: red;
}

.date-text{
    vertical-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: var(--main-second-color);
    font-size: 22px;
    align-content: center;
    padding: 0% 5%;
    text-align: left;
}